body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    margin: 20px 0;
}

.filter {
    margin: 20px 0;
}

.slot-machine {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
}

.reel {
    width: 40px
